// sizes
$font-size: 0.8rem;

// default
$base-color: #999;

// colors
$bg-color: #000;
$text-color: #999;
$text-muted: #666;
$text-bright: #fff;

// utils
$bold-font-weight: 700;
$thick-font-weight: 500;
$font-weight: 400;
$light-font-weight: 300;
$thin-font-weight: 200;
$superthin-font-weight: 100;

$small-spacing: 5px; 
$normal-spacing: 10px; 
$medium-spacing: 10px;
$large-spacing: 20px; 
$jumbo-spacing: 40px;

$animation-duration: 30s;
